* {
    margin: 0;
}

/* Color */
:root {
  --orange-color: #E95A08;
  --opacity-color-black: rgba(0, 0, 0, 0.5);
}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
    max-width: 1140px;
    margin: 30px auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 590px;
}

.list_items {
    width: 415px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list_link {
    text-decoration: none;
}

#home {
    color: #252432;
    font-weight: 700;
}

.color {
    color: #8987A1;
}

#cart {
    color: black;
    font-weight: 700;
}

/* first section style */
.hero_section {
    max-width: 1140px;
    margin: 120px auto;
}

.hero_section_content {
    display: flex;
    align-items:end;
}

.hero_section_content .hero_container {
    margin-top: 106px;
    width: 570px;
}

.head_line {
    font-size: 65px;
    font-weight: 700;
}

.fresh, .flower {
    color: var(--orange-color);
}

.details {
    font-size: 22px;
    width: 570px;
    color: var(--opacity-color-black);
}

/* Card section */

.cards_section {
    max-width: 1140px;
    margin: 120px auto;
}

.intro_section {
    text-align: center;
    margin-bottom: 50px;
}

.our_plants {
    font-size: 50px;
    font-weight: 700;
}

.details_our_plants {
    font-size: 22px;
    width: 888px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card {
    /* border: 2px solid red; */
    text-align: center;
}

:root {
    --font-size: 22px;
    --font-weight:500;
    --font-weight-bold: 700;
}

.description {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin: 30px auto 20px auto;
}

.flower_price {
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    margin: 0 auto 30px auto;
}

.primary_btn {
    background-color: var(--orange-color);
    color: white;
    width: 270px;
    height: 50px;
    border: none;
}

/* flower_info_section */
.flower_info_section {
    max-width: 1140px;
    margin: 240px auto;
}

.flower_infos {
    display: flex;
    align-items: center;
    gap: 60px
}

.image_one{
 position: relative;
}

.image_two {
    width: 286px;
    height: 286px;
    position: absolute;
    top: 2130px;
    right: 900px;
}

.info_contents {
    width: 540px;
}

.plant_lover {
    font-size: 50px;
    font-weight: var(--font-weight-bold);
}

.info_content_list {
    margin-top: 20px;
    font-size: 22px;
    color: var(--opacity-color-black);
}

.list {
    margin-bottom: 20px;
}

.latest_deals_section {
    max-width: 1440px;
    margin: 0 auto;
}

.latest_deals_content {
    text-align: center;
}

.latest_deals {
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 16px;
}

.deals_about {
    /* text-align: center; */
    font-size: 22px;
    color: var(--opacity-color-black);
    /* width: 888px; */
}
